In [7]:
import numpy as np
import pandas as pd
from sklearn import datasets

In [8]:
match = pd.read_csv('matches.csv')

In [9]:
delivery = pd.read_csv('deliveries.csv')

In [10]:
match.head(2)

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN

In [11]:
match.shape
#Total 756 matches by the end of 2019 IPL

(756, 18)

In [12]:
delivery.head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [13]:
delivery.shape

(179078, 21)

In [14]:
total_score = delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()
# reset_index()--> this will into dataframe

In [15]:
total_score.head()

   match_id  inning  total_runs
0         1       1         207
1         1       2         172
2         2       1         184
3         2       2         187
4         3       1         183

In [16]:
total_score = total_score[total_score['inning']==1]
#we need only first inning ka score

In [17]:
total_score.head()

   match_id  inning  total_runs
0         1       1         207
2         2       1         184
4         3       1         183
6         4       1         163
8         5       1         157

### Now lets merge this dataset into the dataset match

In [18]:
match = match.merge(total_score[['match_id','total_runs']],left_on='id',right_on='match_id')
# in the match dataset, merge match_id and total_runs columns of total_score

In [19]:
match.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,157

In [20]:
match['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [21]:
teams = [
    'Sunrisers Hyderabad',
    'Mumbai Indians',
    'Royal Challengers Bangalore',
    'Kolkata Knight Riders',
    'Kings XI Punjab',
    'Chennai Super Kings',
    'Rajasthan Royals',
    'Delhi Capitals']

#These teams play presently

In [22]:
match['team1'] = match['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match['team2'] = match['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

In [23]:
match['team1'] = match['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match['team2'] = match['team2'].str.replace('Deccan Chargers','Sunrisers Hyderaba')

In [24]:
match = match[match['team1'].isin(teams)]
match = match[match['team2'].isin(teams)]
# team1 me unhi teams ka match rakho jo 'teams' me hai
# team2 me unhi teams ka match rakho jo 'teams' me hai

In [25]:
match['dl_applied'].value_counts()
#dl =  Duckworth Lewis

dl_applied
0    595
1     15
Name: count, dtype: int64

In [26]:
match = match[match['dl_applied']==0]
# means jisme jisme dl applied hua hai wo hata do

In [27]:
match = match[['match_id','city','winner','total_runs']]

### Now lets merge delivery and match

In [28]:
delivery=match.merge(delivery,on='match_id')

In [29]:
delivery

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder
0,1,Hyderabad,Sunrisers Hyderabad,207,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Hyderabad,Sunrisers Hyderabad,207,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,Hyderabad,Sunrisers Hyderabad,207,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,Hyderabad,Sunrisers Hyderabad,207,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,Hyderabad,Sunrisers Hyderabad,207,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142078,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,0,0,0,1,0,1,NaN,NaN,NaN
142079,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,0,0,0,2,0,2,NaN,NaN,NaN
142080,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
142081,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,0,0,0,2,0,2,NaN,NaN,NaN
142082,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [30]:
delivery=delivery[delivery['inning']==2]

In [31]:
# Assuming 'total_runs_y' column contains numeric values stored as strings, convert them to integers
delivery['total_runs_y'] = delivery['total_runs_y'].astype(int)

# Now, you can use the cumsum() function on the converted 'total_runs_y' column
delivery['current_score'] = delivery.groupby('match_id')['total_runs_y'].cumsum()

/var/folders/y3/4xy1crns1y5_qhxhtggw6l2c0000gn/T/ipykernel_60675/165665707.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery['total_runs_y'] = delivery['total_runs_y'].astype(int)
/var/folders/y3/4xy1crns1y5_qhxhtggw6l2c0000gn/T/ipykernel_60675/165665707.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery['current_score'] = delivery.groupby('match_id')['total_runs_y'].cumsum()

In [32]:
delivery['runs_left'] = delivery['total_runs_x'] - delivery['current_score']

/var/folders/y3/4xy1crns1y5_qhxhtggw6l2c0000gn/T/ipykernel_60675/3812888052.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery['runs_left'] = delivery['total_runs_x'] - delivery['current_score']

In [33]:
delivery['balls_left'] = 126 - (delivery['over']*6 + delivery['ball'])

/var/folders/y3/4xy1crns1y5_qhxhtggw6l2c0000gn/T/ipykernel_60675/4058506116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery['balls_left'] = 126 - (delivery['over']*6 + delivery['ball'])

In [34]:
delivery

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
125,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,1,NaN,NaN,NaN,1,206,119
126,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,NaN,NaN,NaN,1,206,118
127,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,NaN,NaN,NaN,1,206,117
128,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,2,NaN,NaN,NaN,3,204,116
129,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,4,NaN,NaN,NaN,7,200,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142078,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,1,0,1,NaN,NaN,NaN,152,0,4
142079,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,2,0,2,NaN,NaN,NaN,154,-2,3
142080,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,1,0,1,SR Watson,run out,KH Pandya,155,-3,2
142081,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,2,0,2,NaN,NaN,NaN,157,-5,1
142082,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,0,SN Thakur,lbw,NaN,157,-5,0

In [35]:
# Fill missing values in 'player_dismissed' column with "0"
delivery['player_dismissed'] = delivery['player_dismissed'].fillna("0")

# Convert 'player_dismissed' column to boolean: True if dismissed, False otherwise
delivery['player_dismissed'] = delivery['player_dismissed'] != "0"

# Calculate cumulative wickets for each match
wickets = delivery.groupby('match_id')['player_dismissed'].cumsum()

# Calculate remaining wickets
delivery['wickets'] = 10 - wickets

/var/folders/y3/4xy1crns1y5_qhxhtggw6l2c0000gn/T/ipykernel_60675/2192721055.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery['player_dismissed'] = delivery['player_dismissed'].fillna("0")
/var/folders/y3/4xy1crns1y5_qhxhtggw6l2c0000gn/T/ipykernel_60675/2192721055.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery['player_dismissed'] = delivery['player_dismissed'] != "0"
/var/folders/y3/4xy1crns1y5_qhxhtggw6l2c0000gn/T/ipykernel_60675/2192721055.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery['wickets'] = 10 - wickets

In [36]:
delivery.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets
125,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,1,False,NaN,NaN,1,206,119,10
126,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,False,NaN,NaN,1,206,118,10
127,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,False,NaN,NaN,1,206,117,10
128,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,2,False,NaN,NaN,3,204,116,10
129,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,4,False,NaN,NaN,7,200,115,10

In [37]:
# CRR = Curretnt Run Rate = runs/overs
delivery['CRR'] = (delivery['current_score']*6)/(120 - delivery['balls_left'])

/var/folders/y3/4xy1crns1y5_qhxhtggw6l2c0000gn/T/ipykernel_60675/3051867155.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery['CRR'] = (delivery['current_score']*6)/(120 - delivery['balls_left'])

In [38]:
# RRR = Required run rate
delivery['RRR'] = (delivery['runs_left']*6)/delivery['balls_left']

/var/folders/y3/4xy1crns1y5_qhxhtggw6l2c0000gn/T/ipykernel_60675/2056093773.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery['RRR'] = (delivery['runs_left']*6)/delivery['balls_left']

In [39]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [40]:
delivery['result'] = delivery.apply(result,axis=1)

/var/folders/y3/4xy1crns1y5_qhxhtggw6l2c0000gn/T/ipykernel_60675/1980219135.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery['result'] = delivery.apply(result,axis=1)

In [41]:
final = delivery[['batting_team','bowling_team','city','runs_left','balls_left','wickets','total_runs_x','CRR','RRR','result']]

In [42]:
final.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,CRR,RRR,result
125,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,206,119,10,207,6.0,10.386555,0
126,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,206,118,10,207,3.0,10.474576,0
127,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,206,117,10,207,2.0,10.564103,0
128,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,204,116,10,207,4.5,10.551724,0
129,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,200,115,10,207,8.4,10.434783,0

In [43]:
final = final.sample(final.shape[0])
# It will do suffle

In [44]:
final.sample()

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,CRR,RRR,result
107867,Delhi Daredevils,Royal Challengers Bangalore,Bangalore,165,106,9,191,11.142857,9.339623,1

In [45]:
final.dropna(inplace=True)

In [46]:
final = final[final['balls_left'] != 0]

In [47]:
X = final.iloc[:,:-1]
y = final.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

### Applying one hot encoding on batting_team,bowling_team,city

In [48]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [53]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [54]:
model = LogisticRegression(solver='liblinear')

In [55]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',model)
])

In [56]:
pipe.fit(X_train,y_train)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [57]:
y_pred = pipe.predict(X_test)

In [58]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8102620893318567

In [59]:
pipe.predict_proba(X_test)[1]

array([0.91556867, 0.08443133])

In [60]:
def match_summary(row):
    print("Batting Team-" + row['batting_team'] + " | Bowling Team-" + row['bowling_team'] + " | Target- " + str(row['total_runs_x']))

In [61]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Delhi Capitals']

In [62]:
final['city'].unique()

array(['Chennai', 'Cuttack', 'Durban', 'Kolkata', 'Jaipur', 'Bangalore',
       'Delhi', 'Mumbai', 'Pune', 'Mohali', 'Chandigarh', 'Cape Town',
       'Dharamsala', 'Hyderabad', 'Ahmedabad', 'Port Elizabeth',
       'Bengaluru', 'Raipur', 'Indore', 'Johannesburg', 'Abu Dhabi',
       'Kimberley', 'Visakhapatnam', 'Centurion', 'Ranchi',
       'Bloemfontein', 'East London', 'Sharjah', 'Nagpur'], dtype=object)

In [63]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))

In [64]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [65]:
# Logistic Regression
logistic_model = LogisticRegression(solver='liblinear')
logistic_pipe = Pipeline(steps=[
    ('step1', trf),
    ('step2', logistic_model)
])

In [66]:
logistic_pipe.fit(X_train, y_train)
logistic_accuracy = accuracy_score(y_test, logistic_pipe.predict(X_test))
print("Logistic Regression Accuracy:", logistic_accuracy)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Logistic Regression Accuracy: 0.8102620893318567

### Random Forest

In [67]:
rf_model = RandomForestClassifier(random_state=1)
rf_pipe = Pipeline(steps=[
    ('step1', trf),
    ('step2', rf_model)
])

In [68]:
rf_pipe.fit(X_train, y_train)
rf_accuracy = accuracy_score(y_test, rf_pipe.predict(X_test))
print("Random Forest Accuracy:", rf_accuracy)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Random Forest Accuracy: 0.9990402362495385

### Decision Tree

In [69]:

dt_model = DecisionTreeClassifier(random_state=1)
dt_pipe = Pipeline(steps=[
    ('step1', trf),
    ('step2', dt_model)
])

In [71]:
dt_pipe.fit(X_train, y_train)
dt_accuracy = accuracy_score(y_test, dt_pipe.predict(X_test))
print("Decision Tree Accuracy:", dt_accuracy)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Decision Tree Accuracy: 0.9884828349944629

### K-Nearest Neighbors

In [72]:
knn_model = KNeighborsClassifier()
knn_pipe = Pipeline(steps=[
    ('step1', trf),
    ('step2', knn_model)
])

In [73]:
knn_pipe.fit(X_train, y_train)
knn_accuracy = accuracy_score(y_test, knn_pipe.predict(X_test))
print("K-Nearest Neighbors Accuracy:", knn_accuracy)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

K-Nearest Neighbors Accuracy: 0.8953119232189